:root {
    --color1: orange;
    --color2: rgb(206, 153, 55);
    --color3: rgba(255, 216, 184, 0.457);
    --margincommon: 2rem;
}

* {
    padding: 0%;
    margin: 0%;
    border-radius: 5px;
}
body {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    width: 80%;
    margin: 2%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.companyTitle {
    padding: 2%;
    border: 1px solid black;
    width: 40%;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-size: 1.2rem;
    justify-content: center;
}

.navBar {
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navBar > div {
    width: fit-content;
    padding: 0.5%;
}

.navBar > div:hover {
    color: var(--color2);
}

.underlinePage {
    border-bottom: 2px solid var(--color1);
    border-radius: 0px;
}

.banner1 {
    margin-top: var(--margincommon);
    width: 100%;
    height: 60vh;
    /* border: 1px solid black; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 9px 0px;
}

.banner2 {
    width: 100%;
    height: 50vh;
    margin-block: var(--margincommon);
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner2Lhs {
    height: 100%;
    width: 66%;
    font-size: 1.4rem;
    display: flex;
    margin-right: 4%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
}

.banner2Rhs {
    height: 100%;
    width: 26%;
    /* border: 1px solid black; */
    padding-inline: 2%;
    display: flex;
    flex-direction: column;
    background-color: var(--color3);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 9px 0px;

    /* justify-content: space-evenly; */
    align-items: center;
    font-size: 1.3rem;
}

.aboutusContainer {
    margin-top: var(--margincommon);
    width: 100%;
    /* height: 300vh; */
    /* border: 1px solid black; */
    display: grid;
    gap: 3rem;
    grid-template-columns: auto auto auto;
}

.hp,
.su,
.hk,
.gs,
.mt,
.cs,
.yd {
    height: 90vh;

    /* border: 1px solid rgba(0, 0, 0, 0.172); */
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 9px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.aboutusContainerImage {
    border: 1px solid black;

    width: 30%;
    height: 15%;
    border-radius: 50%;
}

.aboutusContainerName {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.aboutusContainerContent {
    width: 85%;
    height: 65%;
    /* border: 1px solid black; */
    background-color: rgba(0, 0, 0, 0.11);
}

.downloadContainer {
    margin-top: 4rem;
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.downloadTitle1 {
    align-self: flex-start;
    font-size: 1.5rem;
    height: 10%;
    width: 100%;
}

.downloadLower {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.downloadTitle2 {
    width: 40%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    /* border: 1px solid black; */
    border-radius: 0;
}

.mainDownloadHolder {
    /* margin-top: var(--margincommon); */
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.downloadHolder {
    padding: 2%;
    width: 90%;
    height: 8%;
    background-color: var(--color3);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 9px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.downloadHolderInner {
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.footer {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(254, 254, 254); */
    border-radius: 5px;

    /* border: 1px solid black; */
}

.training {
    width: 90%;
    height: 5vh;
    padding: 1%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--color2);
    font-size: 1.15rem;
}

.handles {
    width: 20%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
}

.companyName {
    font-weight: bold;
}

.address {
    height: 10vh;
    text-align: center;
    color: grey;
}

.copyright {
    font-size: 1rem;
    color: grey;
}
